<div id="nav">
    <h2><div id="brand"></div> bandcamp</h2>
    <div id="menu">
        <a>
            <i class="fa fa-home"></i>
            <span>Home</span>
        </a>
        <a>
            <i class="fa fa-feed"></i>
            <span>Feed</span>
        </a>
        <a>
            <i class="fa fa-wifi"></i>
            <span>Radio</span>
        </a>
    </div>
    <div class="collection">
        <span>Your collection</span>
        <a>
            <i class="fa fa-clock-o"></i>
            <span>Recently played</span>
        </a>
        <a>
            <i class="fa fa-heart"></i>
            <span>Favourite Songs</span>
        </a>
        <a>
            <i class="fa fa-user"></i>
            <span>Artists</span>
        </a>
        <a>
            <i class="fa fa-photo"></i>
            <span>Albums</span>
        </a>
        <a>
            <i class="fa fa-play-circle-o"></i>
            <span>Videos</span>
        </a>
    </div>
    <div class="collection">
        <span>Following</span>
        <a>
            <i class="fa fa-label"></i>
            <span>Labels</span>
        </a>
        <a>
            <i class="fa fa-music"></i>
            <span>Genres</span>
        </a>
        <a>
            <i class="fa fa-group"></i>
            <span>Fans</span>
        </a>
    </div>
    <div class="collection last">
        <span id="playlist">
            <span>Playlists</span>
            <i class="fa fa-plus" id="add-playlist"></i>
        </span>
        <a class="bold">My Daily Mix</a>
        <a class="bold">Dribbble Inspiration</a>
        <a class="bold">For Workout</a>
    </div>
</div>